/* Welcome to Compass. Use this file to write IE specific override styles. Import this file using the following HTML or equivalent: <!--[if IE]> <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" /> <![endif]--> */
nav a, nav a:visited { font-family: Arial, Helvetica, sans-serif; }

.floor-plans table { font-family: Arial, Helvetica, sans-serif; }

.lt-ie9 .gallery-scroll .copy { background: #fff; padding: 10px; }

.modal { background: #fff; }

.floor-plans th { background: #fff; }

.dropdown .dropdown-list-container { background: #999; }
