@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,700,100italic);
/* filter-gradient needs this */
nav {
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  zoom: 1;
  padding: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  /* For IE8 and earlier */
}
nav ul {
  margin: 0;
}
nav ul li {
  float: left;
}
nav a, nav a:visited {
  display: block;
  font-size: 15px;
  font-weight: 700;
  line-height: 3em;
  padding: 0.1em 0.5em 0 0.5em;
}
nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

body {
  font-family: 'Josefin Sans', sans-serif;
  color: #000;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #70cbf2;
}

#main {
  background-color: #70cbf2;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF70CBF2', endColorstr='#FF39C0E5');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #409fd9), color-stop(16%, #34b7ef), color-stop(34%, #4da5dc), color-stop(58%, #409fd9), color-stop(86%, #20a2d6), color-stop(100%, #39c0e5));
  background-image: -webkit-linear-gradient(top, #409fd9 0%, #34b7ef 16%, #4da5dc 34%, #409fd9 58%, #20a2d6 86%, #39c0e5 100%);
  background-image: -moz-linear-gradient(top, #409fd9 0%, #34b7ef 16%, #4da5dc 34%, #409fd9 58%, #20a2d6 86%, #39c0e5 100%);
  background-image: -o-linear-gradient(top, #409fd9 0%, #34b7ef 16%, #4da5dc 34%, #409fd9 58%, #20a2d6 86%, #39c0e5 100%);
  background-image: linear-gradient(top, #409fd9 0%, #34b7ef 16%, #4da5dc 34%, #409fd9 58%, #20a2d6 86%, #39c0e5 100%);
  opacity: 0;
  filter: alpha(opacity=0);
  /* For IE8 and earlier */
  position: fixed;
  z-index: 999;
  zoom: 1;
  width: 100%;
}

#loader {
  margin: 250px auto;
  font-weight: 700;
  width: 100%;
  position: fixed;
  text-align: center;
}
#loader .progress {
  margin: 0px auto;
  border: 1px solid #000;
  width: 275px;
  height: 15px;
}
#loader .bar {
  width: 0px;
  height: 15px;
  background-color: #FFF;
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.layered {
  position: absolute;
}

section {
  position: relative;
  margin: 100px 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0;
  color: #053b5e;
}

h1 {
  font-weight: 700;
  font-size: 35px;
}

h2 {
  font-weight: 100;
  font-size: 55px;
  line-height: 50px;
  border-bottom: 1px solid #053b5e;
  margin-bottom: 20px;
}

h3 {
  font-weight: 400;
  font-size: 26px;
}

h4 {
  font-weight: 400;
  font-size: 40px;
  font-style: italic;
}

h5 {
  font-weight: 400;
  font-size: 23px;
}

h6 {
  font-weight: 100;
}

small {
  font-weight: normal;
  font-size: .75em;
}

sup {
  font-weight: normal;
}

a, a:visited {
  color: #4e7bc5;
  text-decoration: none;
}

.content-box {
  position: relative;
}

#container {
  z-index: 1;
  zoom: 1;
}

canvas {
  position: absolute;
  top: 0;
  display: block;
}

#background {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  zoom: 1;
}
#background img {
  max-width: 100%;
}
#background .cloud {
  position: absolute;
  display: none;
}
#background .cloud.show {
  display: block;
}
#background .cloud.c0 {
  display: block;
}
#background .cloud.c1 {
  display: block;
}
#background .cloud.c2 {
  display: block;
}

#building-large {
  height: 2048px;
  position: relative;
  zoom: 1;
  display: block;
  z-index: 100;
  left: -200px;
}
#building-large img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
#building-large img.show {
  display: block;
}

#building-medium {
  position: absolute;
  left: -400px;
  top: 250px;
}

#building-small {
  position: absolute;
  left: -400px;
  top: 250px;
}

.video-box {
  position: relative;
}
.video-box .video-js {
  z-index: 5;
  zoom: 1;
}
.video-box canvas {
  z-index: 4;
}

.gallery-scroll {
  position: relative;
}
.gallery-scroll .gallery-container {
  position: absolute;
  top: 0;
  left: 0;
}
.gallery-scroll .slide {
  margin-right: 130px;
  float: left;
  position: relative;
}
.gallery-scroll .copy {
  position: absolute;
  z-index: 5;
  right: -1px;
}
.gallery-scroll .shape.over {
  z-index: 4;
  right: 0px;
}
.gallery-scroll .shape.under {
  z-index: -1;
  right: 0px;
}
.gallery-scroll .shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 5px;
}
.gallery-scroll .text-slant {
  width: 325px;
  font-weight: 400;
}

#scroller {
  position: fixed;
  z-index: 10000;
  zoom: 1;
  width: 7px;
  bottom: 2px;
  top: 0px;
  right: 1px;
  -webkit-transition: opacity 0ms 0ms;
  overflow: hidden;
  display: none;
}
#scroller #scrubber {
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  box-sizing: border-box;
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-transition: -webkit-transform 0ms cubic-bezier(0.33, 0.66, 0.66, 1);
  -webkit-transform: translate(0px, 0px) translateZ(0px);
  height: 120px;
}

#building-small {
  position: absolute;
}

.home #skyline-img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.home p {
  display: inline;
}

.neighborhood .content-box {
  padding: 0 1%;
}
.neighborhood img {
  width: 100%;
}

.design #design-info .one {
  margin-top: 200px;
  height: 1150px;
}
.design #design-info .two {
  height: 250px;
}
.design #design-info .three {
  height: 250px;
}

.design-team h2 {
  margin-left: 150px;
}
.design-team h4 {
  position: absolute;
  z-index: 5;
}
.design-team .grid-whole {
  margin-top: 60px;
}

.featured-plan .feature img {
  width: 100%;
  max-width: 812px;
}

.unit-availability {
  text-transform: uppercase;
}
.unit-availability h2 {
  margin-left: 150px;
}
.unit-availability td {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 3px 41px;
  font-weight: 700;
  font-size: 13px;
}
.unit-availability td:last-child {
  border-right: 0;
}
.unit-availability th {
  background: rgba(255, 255, 255, 0.75);
  font-weight: 400;
}
.unit-availability .arrow {
  position: absolute;
  margin: 7px 5px;
}
.unit-availability .arrow.down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #053b5e;
}
.unit-availability .arrow.up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #053b5e;
}
.unit-availability a, .unit-availability a:visited {
  color: #053b5e;
}
.unit-availability table {
  color: #053b5e;
  float: right;
}

.team .team-member {
  padding: 30px 1%;
  width: 100%;
}
.team .team-member img {
  float: left;
  padding-right: 2%;
}
.team .team-member .description {
  width: 50%;
  float: left;
}
.team .team-member.rightside {
  float: right;
  width: 80%;
}
.team .team-member.halfwidth {
  width: 65%;
}
.team .team-member.border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.team .team-member.border-bottom-dark {
  border-bottom: 1px solid #053b5e;
}

.press ul li {
  float: right;
  list-style-type: none;
  text-align: left;
  margin-bottom: 20px;
}
.press ul li p {
  margin: 0;
}

.contact .control-group {
  margin-top: 5px;
  font-size: 20px;
  color: #053b5e;
  float: right;
}
.contact .control-group .controls {
  float: left;
}
.contact .control-group .controls input {
  background: transparent;
  border: 1px solid #666;
  font-weight: 100;
  font-size: 16px;
  width: 400px;
  padding: 3px;
}
.contact .control-group label {
  width: 300px;
  float: left;
}
.contact .control-group button {
  margin-top: 20px;
  background: transparent;
  border: 0;
  color: #053b5e;
  font-weight: 100;
  font-size: 35px;
  padding: 0;
}

.address {
  font-size: 30px;
  color: #053b5e;
}
.address div {
  margin-top: 5px;
}
.address hr {
  border: 0;
  height: 1px;
  background: #053b5e;
  margin: 5px 0 0 0;
}
.address .pipe {
  display: inline-block;
  width: 1px;
  height: 23px;
  background: #053b5e;
  margin: 0 7px;
}
.address .addy {
  float: right;
  width: 98%;
}
.address .sales {
  float: right;
  width: 96%;
}
.address .last {
  float: right;
  font-size: 20px;
  width: 94%;
  padding-bottom: 10px;
}
.address .border-bottom {
  border-bottom: 1px solid #053b5e;
}

.copyright {
  text-align: right;
}

.modal {
  position: fixed;
  top: 0;
  width: 90%;
  height: 90%;
  margin: 5%;
  text-align: center;
  background: rgba(255, 255, 255, 0.75);
  z-index: 10000;
  zoom: 1;
  opacity: 0;
}
.modal > .inner {
  padding: 5%;
}
.modal .close {
  font-size: 80px;
  position: absolute;
  top: 5%;
  right: 5%;
  font-weight: 100;
  color: #000;
}
