#background {
	position: absolute;
	top: 0;
	width: 100%;
	zoom: 1;

	img {
		max-width: 100%;
	}

	.cloud {
		position: absolute;
		opacity: .85;
		filter:alpha(opacity=85); /* For IE8 and earlier */
		position: absolute;
		zoom: 1;
		&.show {
			display: block;
		}
	}

	#cloud0 {
		// opacity: .50;
		// zoom: 1;
		// filter:alpha(opacity=50); /* For IE8 and earlier */
		z-index: 1000;

		-webkit-transform: rotate(160deg);
		-moz-transform: rotate(160deg);
		-ms-transform: rotate(160deg);
		-o-transform: rotate(160deg);
		transform: rotate(160deg);
	}

	#cloud1 {
		// opacity: .4;
		// zoom: 1;
		// filter:alpha(opacity=40); /* For IE8 and earlier */
		// transform: rotate(180deg);
		// -ms-transform: rotate(180deg); /* IE 9 */
		// -webkit-transform: rotate(180deg); /* Safari and Chrome */
		// -o-transform: rotate(180deg); /* Opera */
		// -moz-transform: rotate(180deg); /* Firefox */


		// transform: scale(1.5);
		// -ms-transform: scale(1.5); /* IE 9 */
		// -webkit-transform: scale(1.5); /* Safari and Chrome */
		// -o-transform: scale(1.5); /* Opera */
		// -moz-transform: scale(1.5); /* Firefox */

		@include rotate(180deg);
		@include scale(1.5);

	}

	#cloud2 {
		// opacity: .3;
		// zoom: 1;
		// filter:alpha(opacity=30); /* For IE8 and earlier */
	}

	#cloud3 {
		z-index: 1000;
	}

	#cloud5 {
		@include scale(.75);
		@include rotate(180deg);

		-webkit-transform: rotate(180deg) scale(.75, .75);
		-moz-transform: rotate(180deg) scale(.75, .75);
		-ms-transform: rotate(180deg) scale(.75, .75);
		-o-transform: rotate(180deg) scale(.75, .75);
		transform: rotate(180deg) scale(.75, .75);
	}

	#cloud6 {
		z-index: -1;
		@include scale(.75);
	}

	#cloud7 {
		z-index: -1;
		@include scale(1.25);
	}

	#cloud8 {
		@include scale(1.25);
		opacity: .5;
		filter:alpha(opacity=50); /* For IE8 and earlier */
	}

	#cloud9 {
		z-index: -1;

		-webkit-transform: rotate(180deg) scale(1.25, 1.25);
		-moz-transform: rotate(180deg) scale(1.25, 1.25);
		-ms-transform: rotate(180deg) scale(1.25, 1.25);
		-o-transform: rotate(180deg) scale(1.25, 1.25);
		transform: rotate(180deg) scale(1.25, 1.25);
	}

	#cloud10 {
		z-index: -1;
	}
}