$blue: #8cB9DF;
$blue-dark: #2c6086;

$home-bg: #8cB9DF;
$design-bg: #8cB9DF;
$design-team-bg: #70A1D2;
$residences-bg: #70A1D2;
$featuredplan-bg: #9cc5DA;
$floorplan-bg: #9cc5DA;
$services-amenities-bg: #70A1D2;
$neighborhood-bg: #65b1e8;
$team-bg: #65b1e8;
$press-bg: #65b1e8;
$contact-bg: #8cB9DF;

//#8cB9DF #70A1D2 #9cc5DA #65B1E8