$blue: #70cbf2;
$blue-dark: #2c6086;

$home-bg: #65b1e8;
$design-bg: #65b1e8;
$design-team-bg: #65b1e8;
$residences-bg: #65b1e8;
$featuredplan-bg: rgb(101,177,232);
$floorplan-bg: rgb(77,165,220);
$services-amenities-bg: rgb(64,159,217);
$neighborhood-bg: #20a2d6;
$team-bg: #65b1e8;
$press-bg: #20a2d6;
$contact-bg: #65b1e8;
