#design {
	#building-large {
		height: 2048px;
		position: relative;
		zoom: 1;
		//top: 0%;
		display: block;
		z-index: 100;
		img {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}