.design {

	#design-info{
		span {
			float: left;
		}
		h1 {
			float: left;
			width: 200px;
			padding: 3px 30px;
		}
		.building-section {
			// border-left: 1px solid #053b5e;
			// border-top: 1px solid #053b5e;
		}
		.one {
			margin-top: 200px;
			height: 1080px;
		}
		.two {
			height: 255px;
		}
		.three {
			height: 250px;
		}
		.carat-left {
			@include triangle( 'left' , 20px, $blue-dark );
		}
	}


}

.design-team {
	h4 {
		position: absolute;
		z-index: 5;
	}
	.grid-whole {
		margin-top: 60px;
	}
}