.design {
	#building-large {
		height: 2048px;
		position: relative;
		zoom: 1;
		//top: 0%;
		display: block;
		z-index: 100;
		left: -200px;
		img {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
		//	width: 100%;
			&.show {
				display: block;
			}
		}
	}

	#design-info{
		.one {
			height: 1350px;
		}
		.two {
			height: 250px;
		}
		.three {
			height: 250px;
		}
	}
}

.design-team {
	h2 {
		margin-left: 150px;
	}
	h4 {
		position: absolute;
		z-index: 5;
	}
	.grid-whole {
		margin-top: 60px;
	}
}