.gallery-scroll {
	overflow: hidden;
	position: relative;

	.gallery-container {
		position: absolute;
	}
	.slide {
		float: left;
		position: relative;
	}
	.copy {
		position: absolute;
		z-index: 5;
		right: -1px;
	}
	.shape {
		z-index: 4;
		right: 0px;
	}
	.text-slant {
		font-weight: 400;
	}
}
