.gallery {
	position: relative;
	height: 700px;
	overflow: hidden;

	.gallery-container {
		position: absolute;
	}
	.slide {
		float: left;
		position: relative;
		&.show {
			display: block;
		}
	}
	.copy {
		position: absolute;
		z-index: 5;
		right: -1px;
	}
	.shape {
		z-index: 4;
		right: 0px;
	}
	.text-slant {
		font-weight: 400;
	}
}
