.gallery {
	position: relative;
	height: 700px;
	overflow: hidden;

	.gallery-container {
		position: absolute;
	}
	.slide {
		float: left;
		position: relative;
		img {
			background: #0f0;
			@include box-shadow( #000 5px 5px 5px );
		}
	}
	.copy {
		position: absolute;
		z-index: 5;
		right: -1px;
	}
	.shape {
		z-index: 4;
		right: 0px;
	}
	.text-slant {
		font-weight: 400;
	}
}
