@import "compass/css3/box-shadow";

.gallery-scroll {
	position: relative;

	.gallery-container {
		position: absolute;
		top: 0;
		left: 0;
	}
	.slide {
		margin-right: 130px;
		float: left;
		position: relative;
	}
	.copy {
		position: absolute;
		z-index: 5;
		right: -1px;
	}
	.shape.over {
		z-index: 4;
		right: 0px;
	}
	.text-slant {
		width: 325px;
		font-weight: 400;
		color: $blue-dark;
	}
	h3 {
		color: $blue-dark;
	}
}

.shape.under {
	z-index: -1;
	right: 0px;
}
.shadow {
	@include box-shadow( rgba(0,0,0,.25) 10px 10px 10px );
}

#scroller {
	position: fixed;
	z-index: 10000;
	zoom: 1;
	width: 7px;
	bottom: 2px;
	top: 0px;
	right: 1px;
	-webkit-transition: opacity 0ms 0ms;
	overflow: hidden;
	display: none;
	#scrubber {
		position: absolute;
		z-index: 100;
		background: #000;
		filter:alpha(opacity=50); /* For IE8 and earlier */
		background-color: rgba(0, 0, 0, 0.5);
		//border: 1px solid rgba(255, 255, 255, 0.901961);
		-webkit-background-clip: padding-box;
		box-sizing: border-box;
		width: 100%;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		-webkit-transition: -webkit-transform 0ms cubic-bezier(0.33, 0.66, 0.66, 1);
		-webkit-transform: translate(0px, 0px) translateZ(0px);
		height: 120px;
	}
}

#building-small {
	position: absolute;
}
