@import "compass/css3/box-shadow";

.gallery-scroll {
	position: relative;

	.gallery-container {
		position: absolute;
	}
	.slide {
		margin-right: 30px;
		float: left;
		position: relative;
		img {
			@include box-shadow( rgba(0,0,0,.25) 5px 5px 5px );
		}
	}
	.copy {
		position: absolute;
		z-index: 5;
		right: -1px;
	}
	.shape {
		z-index: 4;
		right: 0px;
	}
	.text-slant {
		font-weight: 400;
	}
}
