.gallery {
	position: relative;
	height: 700px;
	overflow: hidden;

	.gallery-container {
		position: absolute;
	}
	.slide {
		float: left;
	}

}

.white-bg {
	background: rgba( 255, 255, 255, .75);
}