.home {
	zoom: 1;
	z-index: 1000;
	.content-box {
		padding-top: 70px;
	}
	#skyline-img {
		display: block;
		margin: 120px auto 0 auto;
		width: 100%;
	}
	p {
		display: inline;
	}
}


.neighborhood {
	.content-box {
		padding: 0 1%;
	}
	img {
		width: 100%;
	}
}