
body {
	font-family: 'Josefin Sans', sans-serif;
	color: #000;
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: $blue;
	
}

#main {
	background-color: $blue;
	@include filter-gradient($blue, #39C0E5, vertical); // IE6-9
	@include background-image(linear-gradient(top, $home-bg 0%, $design-bg 5%,  $design-bg 15%, $design-team-bg 17%,  $residences-bg 24%, $featuredplan-bg 50%, $floorplan-bg 55%, $services-amenities-bg 65%, $neighborhood-bg 85%, $team-bg 90%, $press-bg 95%, $contact-bg 100%));	
	opacity: 0;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	position: fixed;
	z-index: 999;
	zoom: 1;
	width: 100%;
}

#loader {
	margin: 250px auto;
	font-weight: 700;
	width: 100%;
	position: fixed;
	text-align: center;
	p {
		color: $blue-dark;
	}
	.progress {
		margin: 0px auto;
		border: 1px solid #000;
		width: 275px;
		height: 5px;
		overflow: hidden;
	}
	.bar {
		width: 0px;
		height: 5px;
		background-color: #FFF;
		float: left;
	}
}

.wrapper {
	max-width: 980px;
	margin: 0 auto;
}

.layered {
	position: absolute;
}

section {
	position: relative;
	margin: 100px 0 !important;
}

h1,h2,h3,h4,h5,h6 { line-height: 1.2; margin: 0; color: $blue-dark;}
h1 {
	font-weight: 300;
	font-size: 35px;
}
h2 {
	font-weight: 100;
	font-size: 55px;
	line-height: 70px;
	border-bottom: 1px solid $blue-dark;
	margin-bottom: 20px;
}
h3 {
	font-weight: 400;
	font-size: 26px;
	text-transform: uppercase;
	color: #000;
}
h4 {
	font-weight: 400;
	font-size: 40px;
	font-style: italic;
}
h5 {
	font-weight: 400;
	font-size: 23px;
}
h6 {
	font-weight: 100;
}
small { font-weight: normal; font-size: .75em; }
sup { font-weight: normal; }

a, a:visited {
	color: $blue-dark;
	text-decoration: none;
}
.content-box {
	//border: 1px solid #d9e8ff;
	position: relative;
}

#container {
	z-index: 1;
	zoom: 1;
}
canvas {
	position: absolute;
	top: 0;
	display: block;
}
