
body {
	font-family: 'Josefin Sans', sans-serif;
	color: black;
	position: relative;

	/* IE; docs say this should go first (or better, placed in separate IE-only stylesheet): */
	// @include filter-gradient(#aaaaaa, #eeeeee);
	/* Fallback: */
	//background: $blue;
	/* CSS 3 plus vendor prefixes: */
	@include background(linear-gradient(top, $blue, #eeeeee));
	background: #70cbf2; /* Old browsers */
	background: -moz-linear-gradient(top,  #70cbf2 0%, #34b7ef 16%, #20a2d6 34%, #70cbf2 58%, #20a2d6 86%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70cbf2), color-stop(16%,#34b7ef), color-stop(34%,#20a2d6), color-stop(58%,#70cbf2), color-stop(86%,#20a2d6), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #70cbf2 0%,#34b7ef 16%,#20a2d6 34%,#70cbf2 58%,#20a2d6 86%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #70cbf2 0%,#34b7ef 16%,#20a2d6 34%,#70cbf2 58%,#20a2d6 86%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #70cbf2 0%,#34b7ef 16%,#20a2d6 34%,#70cbf2 58%,#20a2d6 86%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #70cbf2 0%,#34b7ef 16%,#20a2d6 34%,#70cbf2 58%,#20a2d6 86%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70cbf2', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	background: #70cbf2 url('../img/sky.jpg') repeat-y center center;
	background-size: cover;
	overflow-x: hidden;
}
#main {
	opacity:0;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}
#loader {
	margin: 250px auto;
	font-weight: 700;
	width: 100%;
	position: fixed;
	text-align: center;
	.progress {
		margin: 0px auto;
		border: 1px solid #000;
		width: 275px;
		height: 15px;
	}
	.bar {
		width: 0px;
		height: 15px;
		background-color: #FFF;
	}
}
.wrapper {
	max-width: 980px;
	margin: 0 auto;
}

.layered {
	position: absolute;
}
section {
	position: relative;
	margin-top: 100px !important;
}

#status {
	position: fixed;
	color: #ff9;
	font-size: 18px;
	z-index: 100000;
	zoom: 1;
	top: 20px;
	right: 50px;
}

h1,h2,h3,h4,h5,h6 { line-height: 1.2; margin: 0; }
h1 {
	font-family: 'Alfa Slab One', cursive;
	font-weight: normal;
	letter-spacing: 1px;
}
h2 {
	font-weight: 100;
	font-size: 55px;
	line-height: 50px;
	border-bottom: 1px solid #000;
	margin-bottom: 20px;
	color: #053b5e;
}
h3 {
	font-weight: 400;
	font-size: 26px;
}
h4 {
	font-weight: 400;
	font-size: 40px;
	font-style: italic;
}
h5,h6 {
	font-weight: 100;
}
small { font-weight: normal; font-size: .75em; }
sup { font-weight: normal; }

a, a:visited {
	color: #4e7bc5;
	text-decoration: none;
}
.content-box {
	//border: 1px solid #d9e8ff;
	position: relative;
}

#container {
	z-index: 1;
	zoom: 1;
}
#clouds {
	position: absolute;
	z-index: 0;
	zoom: 1;
	img {
		max-width: 100%;
	}
}

canvas {
	position: absolute;
	top: 0;
	display: block;
}