
body {
	font-family: 'Open Sans', sans-serif;
	color: black;
	position: relative;

	/* IE; docs say this should go first (or better, placed in separate IE-only stylesheet): */
	//@include filter-gradient(#aaaaaa, #eeeeee);
	/* Fallback: */
	//background: $blue;
	/* CSS 3 plus vendor prefixes: */
	//@include background(linear-gradient(top, $blue, #eeeeee));
	background: #70cbf2; /* Old browsers */
	background: -moz-linear-gradient(top,  #70cbf2 0%, #34b7ef 16%, #20a2d6 34%, #70cbf2 58%, #20a2d6 86%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70cbf2), color-stop(16%,#34b7ef), color-stop(34%,#20a2d6), color-stop(58%,#70cbf2), color-stop(86%,#20a2d6), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #70cbf2 0%,#34b7ef 16%,#20a2d6 34%,#70cbf2 58%,#20a2d6 86%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #70cbf2 0%,#34b7ef 16%,#20a2d6 34%,#70cbf2 58%,#20a2d6 86%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #70cbf2 0%,#34b7ef 16%,#20a2d6 34%,#70cbf2 58%,#20a2d6 86%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #70cbf2 0%,#34b7ef 16%,#20a2d6 34%,#70cbf2 58%,#20a2d6 86%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70cbf2', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}
.wrapper {
	max-width: 980px;
	margin: 0 auto;
}

.layered {
	position: absolute;
}
section {
	position: relative;
}

h1,h2,h3,h4,h5,h6 { line-height: 1.2; margin: 0; }
h1 {
	font-family: 'Alfa Slab One', cursive;
	font-weight: normal;
	letter-spacing: 1px;
}
h2 {
	font-weight: 100;
	font-size: 32px;
}
h3 {
	font-weight: 100;
	font-size: 26px;
}
h4,h5,h6 {
	font-weight: 100;
}
ul { margin: .5em 0; padding: 0 0 0 1.5em; }
li { padding-right: 1em; }
small { font-weight: normal; font-size: .75em; }
sup { font-weight: normal; }

a, a:visited {
	color: #4e7bc5;
	text-decoration: none;
}
.content-box {
	//border: 1px solid #d9e8ff;
}

#container {
	z-index: 1;
	zoom: 1;
}
#clouds {
	position: absolute;
	z-index: 0;
	zoom: 1;
}