.team {
	.team-member{
		padding: 30px 1%;
		width: 100%;
		img{
			float: left;
			padding-right: 2%;
		}
		.description {
			width: 50%;
			float: left;
		}
		&.rightside {
			float: right;
			width: 80%;
		}
		&.halfwidth {
			width: 65%;
		}
		&.border-bottom {
			border-bottom: 1px solid rgba( 255, 255, 255, .5 );
		}
		&.border-bottom-dark {
			border-bottom: 1px solid $blue-dark;
		}
	}
}