.team {
	.team-member{
		padding: 30px 1%;
		width: 100%;
		img{
			float: left;
			padding-right: 2%;
		}
		.description {
			width: 50%;
			float: left;
		}
		&.last {
			padding: 30px 1% 0 1%;
		}
	}
	.video-js {
		float: left;
	}

	.rightside {
		float: right;
		width: 80%;
	}
	.halfwidth {
		width: 65%;
	}
	.descriptionLargeWidth {
		width: 85%;
		.description{
			width: 100%;
		}
	}
	.descriptionMediumWidth {
		.description {
			width: 65%;
		}
	}
	.border-bottom {
		border-bottom: 1px solid rgba( 255, 255, 255, .5 );
	}
	.border-bottom-dark {
		border-bottom: 1px solid $blue-dark;
	}
	#alchemy-logo {
		background: url('../img/team/angelo-logo.png') no-repeat top left;
		width: 220px;
		height: 76px;
		float: right;
	}
}