#fetured-plan {
	.feature {

	}
}
#unit-availability {
	td {
		border-right: 1px solid #eee;
		border-bottom: 1px solid #eee;
		padding: 3px 45px;
		font-weight: 400;
		font-size: 13px;
		&:last-child {
			border-right: 0;
		}
	}
	th {
		background: rgba( 255, 255, 255, .75 );
		font-weight: 100;
	}
	.arrow {
		&.down{
			@include triangle( 'down', 8px, $blue-dark );
		}
		&.up{
			@include triangle( 'up', 8px, $blue-dark );
		}
		position: absolute;
		margin: 7px 5px;
	}
	a, a:visited {
		color: $blue-dark;
	}
	color: $blue-dark;
	text-transform: uppercase;
}