.featured-plan {
	.feature {
		img {
			width: 100%;
			max-width: 812px;
		}
	}
}
.unit-availability {
	h2 {
		margin-left: 150px;
	}
	td {
		border-right: 1px solid #eee;
		border-bottom: 1px solid #eee;
		padding: 3px 41px;
		font-weight: 700;
		font-size: 13px;
		&:last-child {
			border-right: 0;
		}
		//background: rgba( 255, 255, 255, .3 );
	}
	th {
		background: rgba( 255, 255, 255, .75 );
		font-weight: 400;
	}
	.arrow {
		&.down{
			@include triangle( 'down', 8px, $blue-dark );
		}
		&.up{
			@include triangle( 'up', 8px, $blue-dark );
		}
		position: absolute;
		margin: 7px 5px;
	}
	a, a:visited {
		color: $blue-dark;
	}
	table {
		color: $blue-dark;
		float: right;
	}
	text-transform: uppercase;
}
#building-medium {
	position: absolute;
	left: -400px;
	top: 250px;
}